site_name: "Supercomputers for Starters"
site_url: https://klust.github.io/SupercomputersForStarters
site_dir: "site/SupercomputersForStarters"

theme:
  name: material
  greetings: Welcome to the Supercomputers for Starters training"
  language: en
  features:
    - navigation.instant
    - navigation.tracking
    #- navigation.tabs
    - navigation.top
    - navigation.indexes
    # Add links to the next and previous page.
    # Unfortunately this feature is rather limited and it is not easily possible
    # to skip overview pages.
    - navigation.footer
    - header.autohide
    - toc.follow
    - content.code.annotate
    - content.code.copy
  palette:
    - scheme:  vscentrum
    - primary: custom
    - accent:  custom
  icon:
    admonition:
      demo: fontawesome/solid/computer-mouse
      exercise: fontawesome/solid/screwdriver-wrench
      remark: fontawesome/solid/comment-dots
      bug: fontawesome/solid/robot
      audience: fontawesome/solid/people-group
      solution: fontawesome/solid/wand-magic-sparkles
      technical: fontawesome/solid/book-open-reader
      intermediate: fontawesome/solid/graduation-cap
      advanced: fontawesome/solid/user-graduate
      vscentrum: fontawesome/solid/building-flag
      nice-to-know: fontawesome/regular/lightbulb

nav:
  - Table of contents: index.md
  - Preliminary words: C00_S00_preliminary.md
  - Introduction:
    #- C01_Introduction/index.md # Comment out to avoid getting this in the next/previous page navigation.
    - Goals: C01_Introduction/C01_S01_Goals.md
    - Why supercomputing?: C01_Introduction/C01_S02_Why.md
    - What it is not: C01_Introduction/C01_S03_What_it_is_not.md
    - A compartmentalised supercomputer: C01_Introduction/C01_S04_Compartmentalised.md
    - Overview of the notes: C01_Introduction/C01_S05_Overview.md
    - Further reading: C01_Introduction/C01_S06_Further_reading.md
  - Processors for supercomputers:
    #- C02_Processors/index.md # Comment out to avoid getting this in the next/previous page navigation.
    - Introduction: C02_Processors/C02_S01_Intro.md
    - A basic CPU: C02_Processors/C02_S02_Basic_CPU.md
    - ILP I - Pipelining: C02_Processors/C02_S03_ILP_I_Pipelining.md
    - ILP II - Superscalar: C02_Processors/C02_S04_ILP_II_Superscalar.md
    - Vector computing: C02_Processors/C02_S05_Vectorisation.md
    - Shared memory: C02_Processors/C02_S06_Shared_memory.md
    - Distributed memory: C02_Processors/C02_S07_Distributed_memory.md
    - A modern (super)computer: C02_Processors/C02_S08_Modern_supercomputer.md
    - Node architecture: C02_Processors/C02_S09_Node_architecture.md
    - Fast (past) evolution: C02_Processors/C02_S10_Fast_evolution.md
    - An important difference...: C02_Processors/C02_S11_Difference.md
    - "Processors: Lessons learnt": C02_Processors/C02_S12_Lessons_learnt.md
    - Further reading on processors: C02_Processors/C02_S13_Further_reading.md
  - The memory hierarchy:
    #- C03_Memory/index.md # Comment out to avoid getting this in the next/previous page navigation.
    - The memory performance gap: C03_Memory/C03_S01_Performance_gap.md
    - The memory pyramid: C03_Memory/C03_S02_Memory_pyramid.md
    - AMD Rome: C03_Memory/C03_S03_AMD_Rome.md
    - AMD Milan: C03_Memory/C03_S04_AMD_Milan.md
  - Storing data on Supercomputers:
    #- C04_Storage/index.md # Comment out to avoid getting this in the next/previous page navigation.
    - Introduction: C04_Storage/C04_S01_Introduction.md
    - Problems: C04_Storage/C04_S02_Problems.md
    - Parallel file systems: C04_Storage/C04_S03_Parallel_filesystems.md
    - A storage revolution?: C04_Storage/C04_S04_Revolution.md
    - To remember: C04_Storage/C04_S05_To_remember.md
    - Further reading on storage: C04_Storage/C04_S06_Further_reading.md
  - Putting it all together:
    #- C05_Summary1/index.md # Comment out to avoid getting this in the next/previous page navigation.
    - Scaling of technology: C05_Summary1/C05_S01_Scaling.md
    - Dennard scaling: C05_Summary1/C05_S02_Dennard_scaling.md
    - Transistor cost: C05_Summary1/C05_S03_Cost_transistor.md
    - 3 keywords: C05_Summary1/C05_S04_Keywords.md
    - Andy and Bill's law: C05_Summary1/C05_S05_Andy_Bill.md
    - Software, not hardware: C05_Summary1/C05_S06_Software_not_hardware.md
    - Building up the supercomputer: C05_Summary1/C05_S07_Building_up_the_supercomputer.md
  - Middleware:
    #- C06_Middleware/index.md # Comment out to avoid getting this in the next/previous page navigation.
    - "Middleware: Introduction": C06_Middleware/C06_S01_Introduction.md
    - Shared memory programming: C06_Middleware/C06_S02_Shared_memory.md
    - Vector programming: C06_Middleware/C06_S03_Vector_computing.md
    - Distributed memory programming: C06_Middleware/C06_S04_Distributed_memory.md
    - "Middleware: Examples": C06_Middleware/C06_S05_Examples.md
    - Further reading on middleware: C06_Middleware/C06_S06_Further_reading.md
  - What can we expect?:
    #- C07_Expectations/index.md # Comment out to avoid getting this in the next/previous page navigation.
    - Speed-up: C07_Expectations/C07_S01_Speedup.md
    - Matrix multiplication: C07_Expectations/C07_S02_Matrix_multiplication.md
    - Speed-up and efficiency: C07_Expectations/C07_S03_Scaling.md
    - Conclusions: C07_Expectations/C07_S04_Conclusions.md
  - Accelerators:
    #- C08_Accelerators/index.md # Comment out to avoid getting this in the next/previous page navigation.
    - What are accelerators?: C08_Accelerators/C08_S01_What_are_accelerators.md
    - Offloading: C08_Accelerators/C08_S02_Offloading.md
    - CPUs with accelerator features: C08_Accelerators/C08_S03_CPUs_accelerator_features.md
    - Accelerator programming: C08_Accelerators/C08_S04_Programming_accelerators.md
    - Status of GPU computing: C08_Accelerators/C08_S05_Status_GPU_computing.md
    - Further reading on accelerators: C08_Accelerators/C08_S06_Further_reading.md
  - Conclusions:
    - C09_Conclusions/index.md
  - Tags index: tags.md

plugins:
  # show revision date at bottom of each page
  #- git-revision-date-localized
  # necessary for search to work
  - search
  # Tag plugin
  - tags:
      #enabled: false
      tags_file: tags.md
      # The following should do a case-insensitive sort of the tags but requires an insiders version at the moment:
      #tags_compare: !!python/name:material.plugins.tags.casefold

markdown_extensions:
  # Attributes (e.g., for lazy loading)
  - attr_list
  # Markdown in HTML
  - md_in_html
 # notes, warnings, hints, ...
  - admonition
  # code blocks with syntax highlighting, graphs
  - pymdownx.superfences:
        custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  # clickable details
  - pymdownx.details
  # Caret notation for superscripts and inserts
  - pymdownx.caret
  # Smart symbols for TM etc, and automatic processing of 1st 2nd.
  - pymdownx.smartsymbols
  # tabbed contents
  - pymdownx.tabbed
  - toc:
      permalink: true
  # Mathematics
  - pymdownx.arithmatex:
      generic: true

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
  
extra_css:
  - stylesheets/extra.css
 
extra:
  # add links in bottom right
  social:
    #- type: github
    #  icon: octicons/logo-github
    #  link: https://github.com/klust
    - icon: fontawesome/brands/youtube
      link: https://www.youtube.com/channel/UC3szWMS7glcfWsEZTZXQ1oQ
